footer {
  padding: 0 44px;
  a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #58dda3 !important;
    }
  }
}

.subscribe-form .input-group {
  border: 1px solid #555;
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
}

.subscribe-form .form-control {
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;

  &:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
  }

  &::placeholder {
    color: #aaa;
  }
}

.subscribe-form .btn {
  border: none;
  border-left: 1px solid #555;
  border-radius: 10px;
  padding: 12px 25px;
  background-color: transparent;
  color: white;
  font-weight: 500;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }
}
